/*
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Ubuntu', sans-serif;
*/

/*
#orange {: #e63c2f;}
#brun {: #8a2529;}
#mauve {: #681f79;}
#vert  {: #8bb31d;}
*/

body {
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
	}

a, a:hover, a:visited, a:link, a:active{
	text-decoration: none;
	color: #8a2529;
	}
a:hover {color:chocolate;}
/* a:visited {color:dimgray;} */

#container {
	height: auto;
	padding-top: 50px;
	}
	
#container section p {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 2.54em;
    }

#container section p img {
    width:100%;
    height:100%;
    }
    
#container section p img#index20 {
    width:20px;
    height:20px;
    }

#container section p img#index17 {
    width:17px;
    height:17px;
    }

#container section p, #container section #asset p, #container section #assetdesc p {
    padding: 3px;
    text-align: center;
    }

#container section #asset p, #container section #assetdesc p {
    font-family: 'Ubuntu', sans-serif;
    }
    
#container section #asset p {font-size: 1.5em;}   
#container section #assetdesc p {
    font-size: 1em;
    text-align: left;
    }

#container section svg {
    padding-top: 40px; 
    padding-left:25px; padding-right:25px; 
    padding-bottom:20px;
    }
 
 span#vert  {color: #8bb31d;}
 span#mauve {color: #681f79;}
 span#orange {color: #e63c2f;}
header {
	height: auto;
	padding-top:30px;
	padding-bottom:30px;
	}
footer  {
	height: auto;
	clear: both;
	}
header.container-fluid p, footer.container-fluid p {text-align: center;}
header.container-fluid h1, header.container-fluid h3 {font-family: 'Swanky and Moo Moo', cursive;}
header.container-fluid h1 {font-size: 4.01em; color: #681f79;}
header.container-fluid h3 {font-size: 2.51em; color: #8bb31d;}
footer.container-fluid p {font-size: 1.1em;}
